<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
{% block content %}
{% if user.is_authenticated %}
  Welcome, {{ user.email }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
<style>

   h1 {
    color: gray;
    background-color: orange;
    width: 25%;
    text-align: center;
    padding: 10px;
    font-family: Arial;
   }
   h3 {
    color: orange;
    font-size: 20px;
    background-color: #ffc;
    width: 25%;
    text-align: center;
    padding: 5px;
    font-family: Arial;
   }
   h2 {
    color: red;
    font-size: 20px;
    background-color: #00bfff;
    width: 25%;
    text-align: center;
    padding: 5px;
    font-family: Arial;
   }
  </style>
<body>
    <h1>Главная страница</h1>
    <a href="http://127.0.0.1:8000/admin"><h2>Admin</h2></a>
    <a href="http://127.0.0.1:8000/brand"><h3>Brand</h3></a>
    <a href="http://127.0.0.1:8000/childrens"><h3>Childrens</h3></a>
    <a href="http://127.0.0.1:8000/fitness"><h3>Fitness</h3></a>
    <a href="http://127.0.0.1:8000/sportnutrition"><h3>Sport Nutrition</h3></a>
    <a href="http://127.0.0.1:8000/sportssimulator"><h3>Sports Simulator</h3></a>
    <a href="http://127.0.0.1:8000/tourism"><h3>Tourism</h3></a>
    <a href="http://127.0.0.1:8000/weightlifting"><h3>Weight Lifting</h3></a>
</body>

</html>
